<script lang="ts">
    import { data } from './data-store.ts';
    import Table from './Table.svelte';
    import Matrix from './Matrix.svelte';
</script>

<main>
    <h1>wm</h1>
    <Table data={data}/>
    <Matrix/>
</main>

<style>
    main {
        text-align: center;
        padding: 1em;
        //max-width: 16rem;
        max-width: 80%;
        margin: 0 auto;
        //border: 1px solid;
        display: grid;
        row-gap: 5em;
    }

    h1 {
        color: #ff3e00;
        text-transform: uppercase;
        font-size: 4em;
        font-weight: 100;
        margin: 0;
    }
</style>
