<script lang="ts">
</script>

<div class="container">
    <div class="matrix">
        <div>Delicates</div>
        <div>Synthetics</div>
        <div>Cottons</div>
        <img class="icon" src="img/Waschen_30ss.svg">
        <img class="icon" src="img/Waschen_30s.svg">
        <img class="icon" src="img/Waschen_30.svg">
        <img class="icon" src="img/Waschen_40ss.svg">
        <img class="icon" src="img/Waschen_40s.svg">
        <img class="icon" src="img/Waschen_40.svg">
        <img class="icon" src="img/Waschen_60ss.svg">
        <img class="icon" src="img/Waschen_60s.svg">
        <img class="icon" src="img/Waschen_60.svg">
    </div>
</div>

<style>
    .matrix {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5em;
        justify-items: center;
    }

    .icon {
        width: 6em;
    }
</style>
