<script lang="ts">
    export let data: Array<Object>;
    export let headings: Array<string> = Object.keys(data[0]);

    let cur: string;
    let ord: int;
    const asc = h => { return data.slice().sort((a, b) => a[h] > b[h] ? 1 : -1); }
    const des = h => { return data.slice().sort((a, b) => a[h] < b[h] ? 1 : -1); }

    export const sortby = heading => {
        if (cur === heading) {
            if (ord === -1) {
                data = asc(heading);
                ord = 1;
            } else if (ord === 1) {
                data = des(heading);
                ord = -1;
            }
        } else {
            cur = heading;
            data = asc(heading);
            ord = 1;
        }
    }

    let visibile: Array<bool> = [true, true, true, false, false, false, true, false, false];
</script>

<div class="container">
    <fieldset>
        <legend>Headings</legend>
        <div class="flex">
            {#each headings as heading, i}
                <div class="pair">
                    <input type=checkbox bind:checked={visibile[i]} id="{heading}" name="{heading}">
                    <label for="{heading}">{heading}</label>
                </div>
            {/each}
        </div>
    </fieldset>

    <table>
        <thead>
            <tr>
                {#each headings as heading, i}
                    <th on:click={sortby(heading)} class="{visibile[i] === false ? 'hidden' : ''}">
                        {heading}
                        {#if heading === cur}
                            <span class="{ord === -1 ? 'inverted' : ''}">^</span>
                        {/if}
                    </th>
                {/each}
                <tr/>
        </thead>
        <tbody>
            {#each Object.values(data) as row}
                <tr>
                    {#each Object.values(row) as cell, i}
                        <td class="{visibile[i] === false ? 'hidden' : ''}">{cell}</td>
                    {/each}
                </tr>
            {/each}
        </tbody>
    </table>
</div>

<style>
    th,td {
        padding: 2px 8px;
        text-align: left;
        vertical-align: middle;
    }

    table {
        margin: auto;
        border-collapse: collapse;
    }

    thead, table {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .inverted {
        display: inline-block;
        transform: scale(1, -1);
    }

    .flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .container {
        display: grid;
        gap: 1rem;
    }

    .hidden {
        display: none;
    }

    .pair {
        display: flex;
        gap: 1ex;
    }

    .pair > input {
        margin: 0;
    }
</style>
