th,td {
    padding: 2px 8px;
    text-align: left;
}

table {
    border-collapse: collapse;
    border-bottom: 1px solid black;
}

thead {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

body {
    margin: 1rem;
}
