<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>{{ title }}</h1>

    <table>
      <thead>
        <tr>
          {% for header in headers %}
            <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
          <tr>
            {% for item in row %}
              <td>{{ item }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </body>
</html>
