<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>{{ title }}</h1>

    <div class="table">
      {% for row in rows %}
        <div class="row">
          {% for item in row %}
            <span>{{ item }}</span>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

  </body>
</html>
